@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="display-4">Rocket Elevator Customer Portal</h1>
    <img src="images/R2.png" alt="Sample Photo" width="600" height="200" />
</div>
<script>
    tidioChatApi.track("Logged In");
</script>
