@model Customer
@{
    Layout = "_Layout";
}

<h2>Update Profile <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label asp-for="company_name">Company Name</label>
        <input class="form-control" asp-for="company_name" />
    </div>
    <div class="form-group">
        <label asp-for="company_headquarters_address">Address</label>
        <input class="form-control" asp-for="company_headquarters_address" />
    </div>
    <div class="form-group">
        <label asp-for="full_name_of_the_company_contact">Full Name</label>
        <input class="form-control" asp-for="full_name_of_the_company_contact" />
    </div>
    <div class="form-group">
        <label asp-for="company_contact_phone">Phone Number</label>
        <input class="form-control" asp-for="company_contact_phone" />
    </div>
    <div class="form-group">
        <label asp-for="email_of_the_company_contact">Email</label>
        <input class="form-control" asp-for="email_of_the_company_contact" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Success")
{
    <br>
    <div class="alert alert-danger" role="alert">
        Updated Successfully
    </div>
}